html, body {
    background: #EEE;
    color: #111;
}

.full-height {
    height: 100vh;
    padding-bottom: 3em;
}

h1 > .badge {
    margin-right: -3em;
    transform: scale(0.5) translate(-3em, -0.65em);
}

.card-wrapper {
    width: 80vw;
    max-width: 550px;
    margin: 0 auto;
}

.card-table {
    overflow: hidden;
    margin: 0;
    border-radius: 5px;
}

.window-props {
    table-layout: fixed;
}
.window-props tr > th {
    width: 125px;
}
.window-props tr > td.data {
    width: 75px;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #333;
        color: #EEE;
    }

    .card {
        background: #2a2a2a;
        color: #FFF;
    }
        .card .table {
            color: #FFF;
            border-color: #555;
        }

        .card input,
        .card input:focus {
            color: #FFF;
            background: #333;
            border-color: #555;
        }
}